{% extends "base.html" %}

{% block content %}

<div id="landing-page">
    

        
            
                
        <div class="border border-white pt-4 pb-4 green" id="poll-page">
                <div id="welcome-title">
                    <h1 class="text-center mb-1">Django Blog - Opinion Polls</h1>                                
                </div>
                    
                <div class="p-4">
                    <h3 class="ml-3 text-light">Please take a second to vote by clicking on any of the opinion polls listed below:</h3>
                </div>
                    <hr>
                    {% if latest_question_list %}
                        <ul>
                        {% for question in latest_question_list %}
                            <li class="m-3 text-light"><a class ="text-light" href="{% url 'poll:detail' question.id %}">Question {{ question.id }} - {{ question.question_text }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No polls are available.</p>
                    {% endif %}

                    <hr>
                    
                    
                

        </div>
                
            
        


    
</div>

{% endblock %}