/* Credits: Note this code has been adapted from the original CI Blog LMS lesson but has been 
heavily customised with additions, deletions, changes and modifications applied to 
best suit the Django blog application user needs and User Experience develop a unique feel */

/* To aid with presentation of background image */
html, body {
    height:100%;
}
/* Controlling location of footer @ bottom of screen */
body > footer {
    position:sticky;
    top:100vh;
}
/* Ensuring correct treatment of background image to have optimal UX surface layer */
html {    
    background: url(https://res.cloudinary.com/dkelly25/image/upload/v1645985430/static/images/background2.c1fb751e6a5d.jpg) no-repeat center center fixed;
    background-size: cover;    
}
/* To aid with presentation of background image */
body {
    background-color: transparent;
}
/* Nav-bar styling credits: CI blog lesson*/
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}
/* Modifying style for top of article titles */
.image-flash-top {
    position: absolute;
    top: 0%;
    min-width: 18%;
    background-color: #198754f6;
}
/* Modifying style for bottom of article titles */
.image-flash-bottom {
    position: absolute;
    bottom: 0%;
    min-width: 18%;
    background-color: #09311ef6;
}

.author {
    color: white;
    font-weight: 600;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    /* Update height to max-height to avoid dead space on larger screens */
    max-height: 30vh;
    width: 100%;
}

.masthead-text {
    background-color: #198754f6;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #198754f6;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}
/* Update color to green in line with website color palette for Surface UX consistency */
.post-link:hover,
.page-link {
    color: #198754fb;
}
/* Pull titles up towards top of container for better responsivity */
.post-title {
    margin-top: 15%;
    margin-left: 5%;
}
/* Add uppercase text transform to emphasise author on article detail page */
.post-subtitle {
    text-transform: uppercase;
    margin-left: 5%;
    color: lightgray;
}
/* Used on signup & login html tempaltes - white to contrast with green background */
.link {
    color: #fff;
    text-decoration: underline;
}
/* Keep white on hover to esnure default blue does not clash w/green background */
.link:hover,
.link:active {
    color: #fff;
    text-decoration:underline;
}

.btn-like {
    color: #198754d8;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #198754d8;
    background: transparent;
    border: none;
}

.card-body-background {
    background-color: #f9fafce5;
}

article {
    color: white;
}

.green {
    background-color: #198754d8;
}
/* For shading comment icons on article detail page - UX optimisation */
.greenicon {
    color: #146b43d8;
}
/* For responsivity on rocket icons */
.rocket {
    font-size: 3em;
}

.home-page-container {
    min-height: 80vh; 
}

/* Media query to fine-tune responsiveness of icon sizing on smaller screens */
@media screen and (max-width:700px) {
    .rocket {
        font-size: 2em;
    }
}
/* Media query to remove icons on small screens for UX optimisation */
@media screen and (max-width:450px) {
    .rocket {
        font-size: 0em;
    }
}

/* Add green theme color to comment <hr> element line demarcations - important formatting touch */
/* Fatter Line for titles */
.fat {
    background-color:#146b42;
    height:3px!important;
}
/* Thinner Lines for subtext & excerpts */
.thin {
    background-color:#146b43d8;
    font-weight: 300;
}