html, body {
    height:100%;
}

body > footer {
    position:sticky;
    top:100vh;
}

html {    
    background: url(https://res.cloudinary.com/dkelly25/image/upload/v1645985430/static/images/background2.c1fb751e6a5d.jpg) no-repeat center center fixed;
    background-size: cover;

}

body {
    background-color: transparent;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #198754f6;
}

.author {
    color: white;
    font-weight: 600;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #198754f6;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #198754fb;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #198754fb;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #fff;
    text-decoration: underline;
}

.link:hover,
.link:active {
    color: #fff;
    text-decoration:underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.card-body-background {
    background-color: #f9fafce5;
}

#landing-page {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

article {
    color: white;
}

#welcome-title {
    display: flex;
    justify-content:space-around;
    color: #ffffff;
}

.green {
    background-color: #198754d8;
}

#poll-page {
    min-width: 80vw;
}

.site-icon {
    padding-left:10px;
    padding-right:10px;
}

.rocket {
    font-size: 3em;
}

#home-page-container {
    /* min-height: 80vh; */
    align-items: center;
}

@media screen and (max-width:700px) {
    .rocket {
        font-size: 2em;
    }
}

@media screen and (max-width:450px) {
    .rocket {
        font-size: 0em;
    }
}

