{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<!-- Credits: Note this code has been adapted from the original CI Blog LMS lesson but has been heavily customised -->
<!-- Several additions, deletions, changes and modifications have been applied to develop a unique feel -->
<!-- To best suit the Django blog application user needs and User Experience -->

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- The title of the Article is located in h1 tags here -->
                <h1 class="post-title">{{ article.title }}</h1>
                <!-- The Article author goes before the | the article's creation date goes after -->
                <p class="post-subtitle">{{ article.author }} | {{ article.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- An updated & appropriate default image placeholder used here to differentiate & individualise the site/code -->
                <!-- The featured image Cloudinary Storage URL goes in the src attribute -->
                {% if "placeholder" in article.featured_image.url %}
                <img alt="default" src="https://res.cloudinary.com/dkelly25/image/upload/v1647618821/static/images/default-article.9bdfa9b6f255.jpg" width="100%">
                {% else %}
                <img alt="Django Image" src=" {{ article.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container bg-white border border-success border-4 mb-5">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The Article content is housed inside the card-text. -->
                <!-- The | safe filter  is used inside the Jinja templating tags -->
                <p class="card-text ">
                    {{ article.content | safe }}
                </p>
                <div class="row">
                    <!-- Update responsive bootstrap grid to ensure comments & likes display properly on smaller screen sizes -->
                    <div class="col-3 col-sm-2 col-lg-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'article_like' article.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <!-- Use thumbs-up icon to represent likes for positive UX -->
                                <button type="submit" name="blogpost_id" value="{{article.slug}}" class="btn-like" aria-label="like button"><i class="fas fa-thumbs-up"></i></button>                                
                                {% else %}
                                <!-- Use thumbs-up icon to represent likes for positive UX -->
                                <button type="submit" name="blogpost_id" value="{{article.slug}}" class="btn-like" aria-label="like button"><i class="far fa-thumbs-up"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <!-- Use thumbs-up icon to represent likes for positive UX -->
                            <span class="test-secondary"><i class="far fa-thumbs-up"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ article.number_of_likes }} </span>
                        </strong>                        
                    </div>
                    <!-- Update responsive bootstrap grid to ensure comments & likes display properly on smaller screen sizes -->
                    <div class="col-3 col-sm-2 col-lg-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Add the count of total_comments variable here -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row border-top border-success border-4">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments: <i class="fas fa-comments ps-1 greenicon"></i></h3>
            <div class="card-body">
                <!-- Use Horizontal Lining for demarcation and readability of comments to differentiate and improve UX -->
                <hr class="thin">
                <!-- Setup a for loop via jinja tags to iterate through each comment in comments -->
                {% for comment in comments %}                
                <div class="comments p-2">
                    <p class="font-weight-bold">
                        <!-- User leaving the comment's name below: -->
                        <i class="far fa-comment pe-2 greenicon"></i>{{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- Creation date and time attached to comment -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- Space to insert the actual body of the comment, with linebreaks filter for formatting | -->
                    {{ comment.body | linebreaks }}
                    <!-- Use Horizontal Lining in each iteration for consistency and improved, differentiated UX -->
                    <hr class="thin">
                </div>
                {% endfor %}
                <!-- End the For-Loop here -->
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- This section to display notification messages for commenting -->
                {% if commented %}
                <!-- Check if a comment has been submitted & Display an alert to comment poster that the comment is pending approval -->
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                <!-- Otherwise, display the empty comments form in readiness for a comment to be posted by the user -->
                {% if user.is_authenticated %}
                <h3>Add a Comment: <i class="fas fa-comment ps-1 greenicon"></i></h3>
                <p>Commenting as: {{ user.username }}</p>
                <form method="post" class ="mt-3">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success mb-2 mt-2">Submit For Approval</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>
{% endblock content %}