{% extends "base.html" %}

{% block content %}
<!-- Credits: Note this code is adapted & customised from the CI Blog LMS lesson -->
<div class="container-fluid">
    <div class="row">

        <!-- Article Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for article in article_list %}
                <div class="col-sm-12 col-md-6 col-lg-4 card mb-4 ">
                    
                    <div class="card-body card-body-background border border-success border-4">
                        <div class="image-container">
                            {% if "placeholder" in article.featured_image.url %}
                            <!-- Different default image placeholder used here to differentiate & individualise the site/code -->
                            <img alt="default" class="card-img-top"
                                src="https://res.cloudinary.com/dkelly25/image/upload/v1647618821/static/images/default-article.9bdfa9b6f255.jpg">
                            {% else %}
                            <img alt="Django Image" class="card-img-top" src=" {{ article.featured_image.url }}">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Author: {{ article.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'article_detail' article.slug  %}" class="post-link">
                            <h2 class="card-title text-black">{{ article.title }}</h2>
                            <p class="card-text text-black">{{ article.excerpt }}</p>
                        </a>
                        <hr>
                        <p class="card-text text-muted h6">{{ article.created_on}} <i class="far fa-heart"></i>
                            {{ article.number_of_likes }}</p>
                    </div>
                    
                </div>  
                {% endfor %}              
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}