{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-sm-10 col-md-10 col-xxl-8 green border border-4 d-flex justify-content-center align-items-center my-4 mx-1">
        <i class="rocket fas fa-book text-dark pe-4"></i> 
            <h1 class="pb-3 pt-3 pe-2 text-center text-dark">Django Blog </h1><h1 class="pb-3 pt-3 text-light font-weight-bold">|Articles|</h1>
        <i class="rocket fas fa-book text-dark ps-4"></i> 
    </div>
</div>
</div>
<!-- Credits: Note this code is adapted & customised from the CI Blog LMS lesson -->
<div class="container-fluid">
    <div class="row">

        <!-- Article Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for article in article_list %}
                <div class="col-sm-12 col-md-6 col-lg-4 card mb-4 ">
                    
                    <div class="card-body card-body-background border border-success border-4">
                        <hr>
                        <a href="{% url 'article_detail' article.slug  %}" class="post-link">
                            <!-- Responsive text alignment - centering titles on smaller screens vs. left aligned on large screens for UX optimisation -->                            
                            <h2 class="card-title text-black "><i class="fas fa-book pe-3"></i>{{ article.title }}</h2>                            
                            <hr>    
                        
                            <div class="image-container">
                                {% if "placeholder" in article.featured_image.url %}
                                <!-- Different default image placeholder used here to differentiate & individualise the site/code -->
                                <img alt="default" class="card-img-top"
                                    src="https://res.cloudinary.com/dkelly25/image/upload/v1647618821/static/images/default-article.9bdfa9b6f255.jpg">
                                {% else %}
                                <!-- Pull in featured image from Article model to display -->
                                <img alt="Django Image" class="card-img-top" src=" {{ article.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Columnist: {{ article.author }}</p>
                                </div>
                                <div class="image-flash-bottom">
                                    <p class="author">{{ article.created_on}} <i class="far fa-thumbs-up ps-3"></i>
                                        {{ article.number_of_likes }}</p>
                                </div>
                            </div>
                            <hr>
                            
                            <p class="card-text text-black">{{ article.excerpt }}</p>
                            
                            <hr>
                        </a>
                    </div>
                    
                </div>  
                {% endfor %}              
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}