{% extends 'base.html' %}

{% block content %}
<div id="home-page-container" class="container text-light text-center">
    <div class="row justify-content-center">
        <div class="col-md-11 green border d-flex justify-content-center align-items-center my-4 mx-1">
            <i class="rocket fas fa-rocket text-dark pe-3"></i> 
                <h1 class="pb-3 pt-3 pe-2 text-center text-dark">Django Blog </h1><h1 class="pb-3 pt-3 text-light font-weight-bold">|Welcome|</h1>
            <i class="rocket fas fa-rocket text-dark ps-2"></i> 
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-11 green border mb-2 mx-1">
            <h2 class="pt-2">Site Overview</h2>
            <p>Welcome to Django Blog, a site where you can browse, read and comment on articles covering aspects of the popular web development framework</p>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-5 green border mb-2 mx-1">
            <h3>Articles</h3>
                <p>(1) What Django is, and who uses it </p>
                <p>(2) The key features of the framework </p>
                <p>(3) Other perspectives & views on Django </p>
            <a class = "btn btn-dark mb-2" href="{% url 'post_list' %}" role="button">Browse Articles</a>
        </div>
        <div class="col-md-5 green border mb-2 mx-1">
            <h3>Polls</h3>
                <p>If you are a registered member, you can also participate in our site opinion polls, found at the link below:</p>
            <a class = "btn btn-dark mb-2" href="{% url 'poll:index' %}" role="button">Vote in Polls</a>
        </div>
    </div>

</div>
{% endblock %}